apiVersion: apps/v1
kind: Deployment
metadata:
  name: micro-deploy
  #namespace: owner1
  labels:
    app: micro
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 20%
      maxSurge: 20%
  replicas: 3
  selector:
    matchLabels:
      app: micro
  template:
    metadata:
      name: micro-deploy
      labels:
        app: micro
    spec:
      containers:
        - name: micro-service
          image: stratokumulus/simple-microservice:53
          ports:
            - containerPort: 9876
          envFrom:
            - configMapRef:
                name: simple-map
      volumes:
        - name: micro-secret
          secret:
            secretName: DB_PASSWD
